---
import New from './New.astro'
import news from '../data/news'
---

<section class="container max-w-6xl mx-auto">
    <div class="title linea">
        <div class="bg-img">
            <h2 class="text-white text-7xl flex">LATEST NEWS</h2>
        </div>
    </div>
    <div class="flex flex-row flex-wrap gap-3">
        <New
            title={news[0].title}
            img={news[0].img}
            body={news[0].body}
            author={news[0].author}
            date={news[0].date}
        />
        <New
            title={news[1].title}
            img={news[1].img}
            body={news[1].body}
            author={news[1].author}
            date={news[1].date}
        />
        <New
            title={news[2].title}
            img={news[2].img}
            body={news[2].body}
            author={news[2].author}
            date={news[2].date}
        />
    </div>
    <footer class="news-footer">
        <a href="https://projectzomboid.com/blog/news/" class="all-news-btn"
            >VIEW ALL NEWS
        </a>
    </footer>
</section>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
    .bg-img {
        padding: 40px 0px;
        z-index: 3;
        background-image: url('../assets/media/blood.png');
        background-repeat: no-repeat;
        background-position-y: center;
    }

    .linea {
        border-bottom: 1px solid #cd003b;
        margin-bottom: 20px;
    }
    .all-news-btn {
        background-color: #cd003b;
        padding: 15px 20px;
        border-radius: 2px;
        font-size: 13pt;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        transition: background 0.3s;
    }
    .all-news-btn:hover {
        background-color: #b31d47;
    }
    .news-footer {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
</style>
